<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kubenews</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Source+Sans+3:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/admin.css" />
  </head>
  <body>
    <%- include('./partial/header'); %>
    <main>
      <div class="breadcrumb__container">
        <nav class="breadcrumb">
          <ul>
            <li><a href="">KubeNews</a></li>
            <li><a href=""><%= post.summary %></a></li>
          </ul>
        </nav>
      </div>
      <div class="post__container">
        <span class="post__date"><%= post.publishDate %></span>
        <h3 class="post__title"><%= post.title %></h3>
        <div class="post__content">
          <p><%- post.content %></p>          
        </div>
      </div>
    </main>
    <%- include('./partial/footer'); %>
  </body>
</html>
